@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
}
img {
    width: 400px;
    margin-top: 59px;
    margin-left: 38px;
}
.body {
    width: 1025px;
    height: 839px;
    position: relative;
}
.game p {
    position: absolute;
    right: 61px;
    top: 431px;
    font-family: 'Noto Sans';
    font-size: 50px;
    line-height: 68px;
}
.guessing {
    letter-spacing: 11px;
}
.final {
    letter-spacing: normal;
}
.game button {
    position: absolute;
    top: 89px;
    right: 53px;

    width: 200px;
    height: 60px;
    background: #27AE60;
    border-radius: 8px;
    border-style: none;

    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF; 
}
.game button:hover {
    cursor: pointer;
}

.keyBoard {
    width: 664px;
    position: absolute;
    top: 596px;
    left: 211px;
    display: flex;
    flex-wrap: wrap;
    gap: 11px 12px;
}
.keyBoard button {
    width: 40px;
    height: 40px;
    border-radius: 3px;

    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}
.enabled {
    cursor: pointer;

    background: #E1ECF4;
    border: 1px solid #7AA7C7;

    color: #39739D;
}
.disabled {
    background: #9FAAB5;
    border: 1px solid #7AA7C7;

    color: #798A9F;
}
.black {
    color: #000000;
}
.green {
    color: #27AE60;
}
.red {
    color: #FF0000;
}

.chute{
    margin-left: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 205px;
}
.chute p{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.chute input{
    margin-left: 12px;
    margin-right: 15px;
    width: 353px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.chute button{
    width: 100px;
    height: 40px;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    font-size: 16px;
    line-height: 19px;
}
.chuteEnabled{
    cursor: pointer;
    background: #E1ECF4;
    color: #3C76A1;
}
.chuteDisabled{
    background: #9FAAB5;
    color: #798A9F;
}